.article {
  padding: 15px;
}
.article-title {
  text-align: center;
  color: #999;
  padding: 10px 0;
}
.article-title h1 {
  padding: 8px;
  color: #333;
}
.article-title h3 span {
  font-weight: normal;
  color: #999;
}
.article-content {
  text-indent: 2em;
  padding: 5px 0;
}
.article-content img {
  padding: 10px;
}
.article-content .span4 img {
  float:left;
  padding: 7px;
}

.icons {
  padding:15px 0 5px;
}
.main-view {
  width: 160px;
  height: 103px;
  float: left;
  margin: 7px;
  overflow: hidden;
}

#items { list-style-type: none; margin: 0; padding: 0; }
#items li { margin: 3px 3px 3px 0; 
padding: 1px; 
float: left; 
width: 100px; 
height: 130px; 
border: 1px solid;

}