/* общие */
i{
  font-style: normal;
}
.brand {
  background: url("img/logo.png");
  width: 104px;
  height: 26px;
}
.brand:hover {
  background: url("img/logo_old.png");
}
.fix-tabs {
  height: 400px;
}
.showtree {
  cursor: pointer;
}
/*.left-column {
  width: 200px;
  position: relative;
}*/
#dateselect > select{
  width: initial;
}
html, body {
/*  background: #ee7f85 url('panas_pink.jpg') no-repeat 50% 0;*/
  background: #eee;
}
/*a.promo-link {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  text-decoration: none;
  width: 100%;
  height: 100%;
}*/
#content {
  margin: -3px;
}
body {
  min-height: 100%;
  height: auto !important;
  position: relative;
  padding-top: 15px; 
}
.main {
  min-width: 960px;
  padding: 10px 0 150px;
  /*margin-left: -20px;*/
  min-height: 300px;
  margin-left: -20px;
}

.footer {
  color: white;
  position: relative;
  background: #333;
  height: 200px;
  padding: 20px;
  margin: 0 -20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.wrap{
  margin: 0 auto;
  position: relative; 
  /* z-index: 1;*/
  /*margin-top: 210px;*/
  padding: 0 20px;
  background: white;
  box-shadow: 10px -5px 15px rgba(0,0,0,0.4);
}


/*МОДИФИКАТОРЫ*/
.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.gray-a {
  color: #999;
  text-decoration: none;
}
.gray-a:hover {
  color: #333;
  text-decoration: none;
}
.black-a {
  color: #333;
  text-decoration: none;
}
.black-a:hover {
  color: #0b8e36;
  text-decoration: none;
}
.green-a {
  color: #399C72;
  text-decoration: none;
}
.green-a:hover {
  color: #0b8e36;
  text-decoration: none;
}
.photo-border {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 3px;
  border: solid 7px #333;
}
.content-border {
  border-radius: 4px;
  -webkit-box-shadow: 4px;
  -moz-box-shadow: 4px;
  -o-box-shadow: 4px;
  box-shadow:0 0 10px 1px rgba(0,0,0,.05);
  -webkit-box-shadow:0 0 10px 1px rgba(0,0,0,.05);
  -moz-box-shadow:0 0 10px 1px rgba(0,0,0,.05);
  -o-box-shadow:0 0 10px 1px rgba(0,0,0,.05);
}
.help-inline {
  color: red;
}
.bg-grey {
  background: #eee;
}
.bg-black {
  background-image: linear-gradient(bottom, rgb(31,30,31) 39%, rgb(23,23,23) 62%, rgb(33,33,33) 20%);
  background-image: -o-linear-gradient(bottom, rgb(31,30,31) 39%, rgb(23,23,23) 62%, rgb(33,33,33) 20%);
  background-image: -moz-linear-gradient(bottom, rgb(31,30,31) 39%, rgb(23,23,23) 62%, rgb(33,33,33) 20%);
  background-image: -webkit-linear-gradient(bottom, rgb(31,30,31) 39%, rgb(23,23,23) 62%, rgb(33,33,33) 20%);
  background-image: -ms-linear-gradient(bottom, rgb(31,30,31) 39%, rgb(23,23,23) 62%, rgb(33,33,33) 20%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.39, rgb(31,30,31)),
    color-stop(0.62, rgb(23,23,23)),
    color-stop(0.2, rgb(33,33,33))
  );
}
.color-grey {
  color: #999;
}
.color-black {
  color: #333;
}


/*БЛОКИ*/
/*комменты */
#comments {
  margin: 30px 30px 0 0;
}
#sendComment {
  margin-left: 160px;
}
.comment-item {
  background: white;
  margin-left: 20px;
  margin-top: 10px;
}
.comment-body {
  padding: 10px 10px 10px 10px;
}
#comment-form {
  margin-top: 10px;
}
.def-pos-form {
  height: 150px;
  display: none;
}
/*стрелочка наверх*/
.arrow-up {
  padding: 8px 12px 0 4px;
  left: 10px;
  position: fixed;
  font-size: 32px;
  cursor: pointer;
  display: none;
}
/*посты*/
.article {
  padding: 15px;
  margin-left: 20px;
}
.article-title {
  padding: 10px 0;
  text-align: center;
}
.article-title h1 {
  padding: 8px;
}
.article-title .description {
  display: none;
  padding: 20px;
}
.article-title h3 span {
  font-weight: normal;
}
.article-title .subcat {
  float: left;
}
.article-content {
  margin-top: 20px;
  padding: 7px;
  text-indent: 2em;
}
.article-content img {
  padding: 10px;
}
.article-content .span4 img {
  float:left;
  padding: 7px;
}
.article-video {
  padding-left: 14%;
}
.icons {
  padding:15px 0 5px;
}

/*Экстеншены*/
/*навбар, переопределение бутстрапа c магией*/
.dropdown:hover .dropdown-menu {
  display: block;
  top: 20px;
}
ul.pull-right li.dropdown:hover .dropdown-menu{   
  top: 53px; 
}
ul.nav-head li.dropdown:hover ul.dropdown-menu{  
  top: 32px; 
}
a.menu:after, .dropdown-toggle:after {
  content: none;
}
.brand {
  display: block;
  margin: 0 50px;
}
.userpic {
  margin-top: -20px;
  width: 50px;
  height: 50px;
}
.nav-head >li >a {
  color: white;
}
.nav-head {
  position: relative;
  margin-left: -30px;
  padding: 9px 26px;
}
.nav-head:before, h1:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
  bottom: -10px;
}
.nav-head:before {
  border-width: 0 10px 10px 0;
  border-right-color: #222;
  left: -0.1em;
}
.nav-head:after {
  border-width: 0 0 100px 100px;
  border-left-color: red;
  right: 0;
}
.navbar {
  margin: 10px 0 -23px 0;
}
.navbar .pull-right{
 /* background: white;*/
  font-size: 13px;
}
.l-nav {
  font-size: 22px;
}
.navbar .nav > li > a {
  margin-top: 20px;
  /*color: #333;*/
}

.nav-head.nav > li > a:hover {
  color: #333;
}
.caret {
  border-top-color: black;
  border-bottom-color: black;
}
.navbar-search {
  right: 6px;
  padding:10px 8px 0 10px;
  top: 49px;
  float: right;
  margin-top: -10px;
  z-index: 1;
}

/*главаная*/
ul.items {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}
ul.items li.main-view {
  overflow: hidden;
  position: relative;
  float: left;
  margin: 3px;
  width: 220px;
  height: 182px;
  padding: 6px;
}
.items li.main-view a,
.items li.main-view a img {
  position: relative;
  display: block;
}
ul.items li.main-view a {
  overflow: hidden;
}

ul.items li.main-view .main-view-top a div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(75,75,75,0.6);
}
ul.items li.main-view .main-view-top a div.da-animate {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

ul.items li.main-view .main-view-top a div span {
  display: block;
  margin: 15px;
  color: rgba(255,255,255,0.9);
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
}

.main-view-bottom {
  margin: 3px 5px 15px 5px;
  text-align: right;
}

ul.items li.main-view .main-view-top {
  margin: 2px;
  height: 160px;
}

ul.items li.main-view .main-view-top a:last-child {
  display: block;
  margin-top: 4px;
  overflow: hidden;
}
.main-user {
  float: left;
}

ul.items li.main-view .main-view-top a .da-slideFromTop {
  top: -100%;
  left: 0px;
}
ul.items li.main-view .main-view-top a .da-slideFromBottom {
  top: 100%;
  left: 0px;
}
ul.items li.main-view .main-view-top a .da-slideFromLeft {
  top: 0px; 
  left: -100%;
}
ul.items li.main-view .main-view-top a .da-slideFromRight {
  top: 0px;
  left: 100%;
}

ul.items li.main-view .main-view-top a .da-slideTop {
  top: 0px;
}
ul.items li.main-view .main-view-top a .da-slideLeft {
  left: 0px;
}

/* фото вью */
#pretty_photo {
  display: block;
  margin: 11px;
}
#pretty_photo a {
  float: left;
  display: block;
  width: 100px;
  height: 100px;
  padding: 15px;
}

.main-carousel {
  width: 455px;
  float: left;
  height: 378px;
}

.main-carousel .carousel-inner .carousel-caption{
  position: relative;
  height: 73px;
  color: white;
  text-align: right;
}
.main-carousel .carousel-inner .carousel-caption h4, 
.main-carousel .carousel-inner .carousel-caption p {
  text-align: left;
  height:26px;
}
.main-carousel .carousel-inner .item > a > img {
  margin-top: -1px;
  height: 293px;
  width: 455px;
}

/* фото креэйт */
#photo-items { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
#photo-items li {
  background: white; 
  border-radius: 4px;
  margin: 3px;
  float: left; 
  border: solid 7px #333;
}
#preview_post img {
  max-width: 400px;
  min-width: 400px;
}

/*загрузчик фоток*/
/*#upload-all {
  display: none;
}
.progress {
  width: 150px;
  border: 1px solid #888;
  height: 18px;
  text-align: center;
  background-image: url('img/pbar_bgr.png');
  background-repeat: no-repeat;
  background-position: -150px center;
}*/