AddDefaultCharset UTF-8
Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php

Redirect 301 /blog/ http://old.fresh-i.ru/blog/

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.fresh-i.ru$ [NC]
RewriteRule ^(.*)$ http://fresh-i.ru/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^fresh-eye.ru$ [NC]
RewriteRule ^(.*)$ http://fresh-i.ru/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.fresh-eye.ru$ [NC]
RewriteRule ^(.*)$ http://fresh-i.ru/$1 [R=301,L]


<Files "plugins.dat">
order allow,deny
deny from all
</Files>

